.home-page-container {
  display: flex;
  justify-content: space-between;
}

.topic-cloud-container {
  width: 900px;
}

.topic-detail-container {
  width: 500px;
  padding-left: 50px;
  text-align: left;
}
