.topic-item {
  cursor: pointer;
  margin: 20px;
}

.high {
  color: green;
}

.normal {
  color: grey;
}

.low {
  color: red;
}

.popularity-1 {
  font-size: xx-small;
}

.popularity-2 {
  font-size: small;
}

.popularity-3 {
  font-size: medium;
}

.popularity-4 {
  font-size: large;
}

.popularity-5 {
  font-size: x-large;
}

.popularity-6 {
  font-size: xx-large;
}
