/* use variable/function for spacing */
.more-space {
  margin-bottom: 20px;
}

.detail {
  margin: 5px 0;
}

.positive {
  color: #26c40e;
}

.neutral {
  color: black;
}

.negative {
  color: #ec1c36;
}
